
// colors
$black: #151515;
$grey: #444444;
$white: #FFFFFF;
$orange: #D5966C;

// fonts
$primary-font: 'Big Shoulders Display', sans-serif;
$secundary-font: 'Outfit', sans-serif;

// responsive
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



