@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.map {
  position: relative;
  width: 100%;
  height: 550px;
  @include m.breakpoint(tablet) {
    height: 600px;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
    filter: grayscale(100%);
  }

  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include m.breakpoint(tablet) {
      margin-left: 39px;
    }
    @include m.breakpoint(desktop) {
      margin-left: 156px;
    }
  }
}